{{define "forgot_password"}}
  <!DOCTYPE html>
  <html lang="ja">
  <head>
    {{template "head"}}
  </head>
  <body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="/login/forgot-password"><b>Workbook</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">登録されているメールアドレス充てに再発行のメールを送付する事ができます。</p>
        <form action="/login/PasswordReissue" method="post">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">送信</button>
            </div>
          </div>
        </form>
        <p class="mt-3 mb-1">
          <a href="/login/page">ログイン画面へ</a>
        </p>
        <p class="mb-0">
          <a href="/account/create/page" class="text-center">アカウント再作成</a>
        </p>
      </div>
    </div>
  </div>
  {{template "script"}}
  </body>
  </html>
{{end}}
