{{define "head"}}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>WorkBook</title>
        <!-- Googleフォント: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- アイコン -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="/web/css/icheck-bootstrap.min.css">
        <link rel="stylesheet" href="/web/css/all.min.css">
        <!-- フレームワークcss -->
        <link rel="stylesheet" href="/web/css/adminlte.min.css">
        <!-- メイン -->
        <link rel="stylesheet" href="/web/css/style.css">
    </head>
{{end}}
