{{define "content"}}
    <div class="content-wrapper">
        <!-- ページ　ヘッダー-->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">HOME</h1>
                    </div>
                </div>
            </div>
        </div>
        <!--メインコンテンツ　-->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box bg-gradient-info hoge">
                            <a href="./workbook_create_page"></a>
                            <span class="info-box-icon"><i class="fa fa-pen"></i></span>
                            <div class="info-box-content mypage_card">作成</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box bg-gradient-primary hoge">
                            <a href="./workbook_learning_page"></a>
                            <span class="info-box-icon"><i class="fas fa-graduation-cap"></i></span>
                            <div class="info-box-content mypage_card">学習</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box bg-gradient-success hoge">
                            <a href="./workbook_share_page"></a>
                            <span class="info-box-icon"><i class="fas fa-file-upload"></i></span>
                            <div class="info-box-content mypage_card">共有</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box bg-gradient-danger hoge">
                            <a href="#"></a>
                            <span class="info-box-icon"><i class="fas fa-comments"></i></span>
                            <div class="info-box-content mypage_card">質問</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <span class="info-box-icon"><i class="fas fa-chart-line"></i></span>人気な問題
                                </h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="card-body">The body of the card</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-success">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <span class="info-box-icon"><i class="fas fa-info-circle"></i></span>お知らせ
                                </h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="card-body">The body of the card</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}