{{define "sidebar"}}
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/account/home/page" class="brand-link">
      <img src="/web/img/WorkBookLogo.png" alt="WorkBook Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">WorkBook</span>
    </a>
    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="/account/home/page" class="d-block" id="userName"></a>
        </div>
      </div>
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
            data-accordion="false">
          <li class="nav-item">
            <a href="/account/home/page" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>HOME</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/workbook/create/page" class="nav-link">
              <i class="nav-icon fas fa-pen"></i>
              <p>作成</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/workbook/folder/page" class="nav-link">
              <i class="nav-icon fas fa-graduation-cap"></i>
              <p>学習</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/workbook/share/page" class="nav-link">
              <i class="nav-icon fas fa-file-upload"></i>
              <p>共有</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/account/edit/page" class="nav-link">
              <i class="nav-icon fas fa-wrench"></i>
              <p>設定</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-question"></i>
              <p>このアプリについて</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>ログアウト</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
{{end}}
