{{define "content"}}
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">学習</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          {{range $index,$book :=.}}
            <div class="col-sm-3">
              <div class="hoge">
                <div class="card">
                  <img src="/web/img/WorkBookLogo.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{$book.Title}}</h5>
                    <p class="card-text">説明文(１５文字)</p>
                    <a href="#"></a>
                    <input type="hidden" name="" value="{{$book.BookId}}">
                  </div>
                </div>
              </div>
              <button type="button" onclick="share()">共有</button>
            </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
{{end}}
